body{
    background-image: url("moreepicbg.jpg");
    border-color: darkblue;
    border-style: dashed;
    border-width: 10px;
}
.name{
    background-color: dimgray;
    display: flex;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}

.pong{
    border-style: solid;
    border-color: black;
}